<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <div class="collapse navbar-collapse" id="navbarNav">
  
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/']" routerLinkActive="router-link-active">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/originator']" routerLinkActive="router-link-active" > Originator</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/mandatelist']" routerLinkActive="router-link-active" >Emandate</a>
          </li>
        </ul>
      </div>
  
    </div>
    <hr>
  
  </nav>
  <div class="container">
    <div class="row">
      <div class="col-12">
  <router-outlet></router-outlet>
  
      </div>
    </div>
  
  </div>