<div class="container p-3 my-3 border">
  <div class="row">
    <div class="col-12">

      <p>{{issueMasterInv.issueName}}</p>
      <hr>
      <p>Issue symbole set to {{issueMasterInv.invCatName}}</p>
      <div>
        <button type="button" class="btn outline-primary" (click)="setCatagory('ind')">Indivisual</button>
        <button type="button" class="btn outline-primary" (click)="setCatagory('emp')">Employee</button>
        <button type="button" class="btn outline-primary" (click)="setCatagory('hni')">HNI</button>
        <button type="button" class="btn outline-primary" (click)="setCatagory('rni')">Retail Investors</button>



      </div>
    </div>


  </div>
</div>