<div class="container p-3 ">

  <div class="row">
    <div class="col-md-12">
<input type="text" name="inpValue" [(ngModel)]="inpValue">
<hr>

<button class="btn btn-success" (click)="addServer()">AddServer</button>

<br>
<br>
<p> App status :{{appStatus | async}}</p>
      <ul class="list-group " *ngFor="let server of servers | filterpipe:inpValue:'status' ">
        <li class="list-group-item " [ngClass]="getServerCSSClass(server.status)">

          <strong>{{server.name | trimstr:10}}</strong>
          |{{server.instanceType | uppercase }} |
          {{server.started |  date:"MMM/dd/yyyy" | uppercase}} 

          <span class="badge badge-pill badge-danger float-right">{{server.status}}</span>

        </li>
        
      </ul>

    </div>

  </div>

</div>