<nav class="navbar navbar-expand-md navbar-light bg-light">
  <div class="container-fluid">
    <a href="#" class="navbar-brand">Recipe Book</a>
    

    <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
        <div class="navbar-nav">
            <a href="#" class="nav-item nav-link active">Recipes</a>
            <a href="#" class="nav-item nav-link">Shopping List</a>
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Manage</a>
                <div class="dropdown-menu">
                    <a href="#" class="dropdown-item">Save Data</a>
                    <a href="#" class="dropdown-item">Fetch data</a>
                </div>
            </div>
        </div>
        
        <!--<div class="navbar-nav">
            <a href="#" class="nav-item nav-link">Login</a>
        </div>-->

      </div>
    </div>
    </nav>