<div class="row">
  <div class="col-md-12">
    <img [src]="selRecipe.imagePath" alt="{{selRecipe.name}}" class="img-responsive" style="max-height: 200px;">
  </div>

</div>
<div class="row">
  <div class="col-12">
    <h1>{{selRecipe.name}}</h1>
  </div>

</div>
<div class="row">
  <div class="col-12">
    <div class="btn-group">
      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
        Manage Recipe
      </button>
      <div class="dropdown-menu" style="cursor: pointer">
        <li> <a class="dropdown-item"  (click)="toAddShopingList()">To Shoping List</a></li>
        <li><a class="dropdown-item" [routerLink]="['edit']" routerLinkActive="router-link-active" >Edit Recipe</a></li>
        <li><a class="dropdown-item" (click)="onDeleteRecipe()">Delete Recipe</a></li>

      </div>
    </div>
  </div>
</div>

<div class="row">
    <div class="col-12">
      <p>{{selRecipe.description}} </p>
    </div>

</div>
    <div class="row">
        <div class="col-12">
          <ul class="list-group">
<li class="list-group-item" *ngFor="let item of selRecipe.ingredient"> {{item.name}}-{{item. amount}}</li>

          </ul>
        </div>
        </div>